{% if comments %}
{% for comment in comments %}
<!-- below if/forloops in class aligns first comment left, second right and so on -->
<div class="comments {% if forloop.counter|divisibleby:2 %}comment-align-right{% else %}comment-align-left{% endif %}">
    <!-- determine whether to apply a specific CSS class to the div containing each comment -->
    <!-- If the comment is at an even position (second, fourth, etc.), it adds the class align-right; otherwise, it adds the class align-left. -->
    <div
        class="comment {% if forloop.counter|divisibleby:2 %}comment-align-right{% else %}comment-align-left{% endif %}">
        <div class="avatar">
            <img class="rounded-circle profile_img_comment"
                src="{{ commenter_profile_images|default:comment.user.userprofile.profile_image.url }}"
                alt="{{ comment.user.username }}">
        </div>
        <div class="content">
            <p class="name">{{ comment.name }}</p>
            <p class="created-on">{{ comment.created_on }}</p>
            {{ comment.body | safe | linebreaks }}
        </div>
        <!-- If the comment posted was posted by the logged in user, it will show the update/delete buttons -->
        {% if comment.user == user %}
        <div class="actions">
            <a class="btn btn-black rounded-0 text-uppercase m-1" href="{% url 'update_comment' pk=comment.pk %}">
                Edit
            </a>
            <a class="btn btn-danger rounded-0 text-uppercase m-1" href="{% url 'delete_comment' pk=comment.pk %}">
                Delete
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
<div class="actions-container"></div>
{% else %}
<p class="d-flex align-items-center justify-content-center mt-5">Be the first to comment!</p>
{% endif %}
<div class="d-flex align-items-center justify-content-center pagination mt-4">
    <ul class="pagination">
        {% if comments.has_previous %}
        <li class="page-item">
            <a class="page-link text-muted" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link text-muted" href="?page={{ comments.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">{{ comments.number }} of {{ comments.paginator.num_pages }}</span>
        </li>

        {% if comments.has_next %}
        <li class="page-item">
            <a class="page-link text-muted" href="?page={{ comments.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link text-muted" href="?page={{ comments.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>