<script>
    // Function to create and show a message element if the user selects more than one item to update
    function showMessage(message) {
        var messageContainer = document.createElement('div');

        //Styling
        messageContainer.className = 'btn btn-danger rounded-0';
        messageContainer.style.position = 'fixed';
        messageContainer.style.bottom = '50px';
        messageContainer.style.left = '50%';
        messageContainer.style.transform = 'translateX(-50%)';
        messageContainer.style.padding = '10px';

        var messageText = document.createElement('span');
        messageText.innerHTML = message;
        messageContainer.appendChild(messageText);

        // Insert the message container into the document body
        document.body.appendChild(messageContainer);

        // Automatically hide the message after 3 seconds
        setTimeout(function () {
            messageContainer.style.display = 'none';
        }, 5000);
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("updateSelectedBtn").addEventListener("click", function () {
            var selectedBlogs = document.querySelectorAll('input[name="selected_blogs"]:checked');

            if (selectedBlogs.length === 1) {
                // If only one blog is selected, proceed with the update logic
                var blogSlug = selectedBlogs[0].value;
                window.location.href = "{% url 'post_update' slug=0 %}".replace('0', blogSlug);
            } else if (selectedBlogs.length < 1) {
                // If fewer than one blog is selected, show the error message
                showMessage("Please select one blog to edit.");
            } else {
                // If more than one blog is selected, show the error message
                showMessage("Sorry, only one blog can be edited at a time.");
            }
        });
    });
</script>