{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 hero">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black font-weight-bold glow mb-2">
                Discover Tail-Wagging Treasures!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block featured_products %}
<div class="col-8 container-fluid mt-5 text-dark">
    <h2 class="font-weight-bold">Featured Products</h2>
    <hr>
    <div class="row equal-height">
        {% for product in featured_products %}
        <div class="col-md-6 col-lg-3">
            <div class="card border-0 shadow mb-2">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{% get_media_prefix %}default-images/no_orders.webp"
                        alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <a href="{% url 'product_detail' product.id %}" class="card-title mb-0 text-decoration-none text-black lead
                        truncated-title">{{ product.name|truncatechars:25 }}</a>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div>
                            {% if product.average_rating %}
                            <a href="{% url 'product_detail' product.id %}"
                                class="text-decoration-none text-dark average-stars">{{ product.average_rating|stars|safe }}</a>
                            {% endif %}
                            <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                            {% if product.category %}
                            <p class="small mt-1 mb-2">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            <div class="mb-2 col-12">
                                <a href="{% url 'product_detail' product.id %}"
                                    class="btn-sm btn-black rounded-0 text-uppercase text-decoration-none">View
                                    Product
                                </a>
                            </div>
                            {% if request.user.is_superuser %}
                            <small class="col-12">
                                <a href="{% url 'edit_product' product.id %}">Edit</a>
                                |
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 text-center mt-4">
            <a href="{% url 'products' %}?sort=rating&direction=desc"
                class="btn-sm btn-black rounded-0 text-uppercase text-decoration-none">View
                All</a>
        </div>
    </div>
</div>
{% endblock %}

{% block newsletter %}
<div class="col-8 container-fluid d-flex flex-column align-items-center mt-5 pt-5 shadow">
    <h2 class="font-weight-bold text-center">Stay in the loop with all things doggie-delightful!</h2>
    <hr>
    <p class="text-center mx-4">Sign up for our newsletter today and unleash a world of tail-wagging fun and
        tasty treats for your furry friend.</p>
    <form method="post" class="w-50 mt-4" action="{% url 'subscribe_newsletter' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="mt-2 mb-4 btn-black rounded-0 text-uppercase btn-block">Subscribe</button>
    </form>
</div>
{% endblock %}

{% block blogs %}
<div class="col-8 container-fluid mt-5 text-dark">
    <h2 class="font-weight-bold">Featured Blogs</h2>
    <hr>
    <div class="row equal-height">
        {% for post in top_liked_posts %}
        <div class="col-md-6 col-lg-3">
            <div class="card border-0 shadow mb-2">
                {% if post.image %}
                <a href="{% url 'post_detail' post.slug %}">
                    <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                </a>
                {% else %}
                <a href="{% url 'post_detail' post.slug %}">
                    <img class="card-img-top img-fluid" src="{% get_media_prefix %}default-images/no_orders.webp"
                        alt="{{ post.title }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <a href="{% url 'post_detail' post.slug %}" class="card-title mb-0 text-decoration-none text-black lead
                        truncated-title">{{ post.title|truncatechars:25 }}</a>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div>
                            <p class="mb-2 text-muted">
                                {{ post.excerpt|slice:":80" }}{% if post.excerpt|length > 80 %}...{% endif %}
                            </p>
                            <div class="mb-2 col-12">
                                <i class="far fa-heart"></i> {{ post.number_of_likes }}
                                <i class="far fa-comments"></i> {{ post.comments.count }}
                            </div>
                            <div class="mb-2 col-12">
                                <a href="{% url 'post_detail' post.slug %}"
                                    class="btn-sm btn-black rounded-0 text-uppercase text-decoration-none">View
                                    Blog
                                </a>
                            </div>
                            {% if request.user.is_superuser %}
                            <small class="col-12">
                                <a href="{% url 'post_update' post.slug %}">Edit</a>
                                |
                                <a class="text-danger" href="{% url 'post_delete' post.slug %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 text-center mt-4">
            <a href="{% url 'blogs' %}" class="btn-sm btn-black rounded-0 text-uppercase text-decoration-none">View
                All</a>
        </div>
    </div>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'home/subscribe_modal.html' %}
{% include 'home/includes/featured_sections_height.html' %}
<script type=" text/javascript" src="{% static 'js/subscribe_modal.js' %}"></script>
{% endblock %}