{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 hero">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black font-weight-bold glow">
                Discover Tail-Wagging Treasures!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block featured_products %}
<div class="container-fluid mt-5 bg-white text-dark featured-products">
    <h2>Featured Products</h2>
    <hr>
</div>
{% endblock %}

{% block blogs %}
{% endblock %}