<script>
    // Function to create and show a message element if the user selects more than one item to update
    function showMessage(message) {
        var messageContainer = document.createElement('div');

        //Styling
        messageContainer.className = 'btn btn-danger rounded-0';
        messageContainer.style.position = 'fixed';
        messageContainer.style.bottom = '50px';
        messageContainer.style.left = '50%';
        messageContainer.style.transform = 'translateX(-50%)';
        messageContainer.style.padding = '10px';

        var messageText = document.createElement('span');
        messageText.innerHTML = message;
        messageContainer.appendChild(messageText);

        // Insert the message container into the document body
        document.body.appendChild(messageContainer);

        // Automatically hide the message after 3 seconds
        setTimeout(function () {
            messageContainer.style.display = 'none';
        }, 5000);
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("updateSelectedBtn").addEventListener("click", function () {
            var selectedProducts = document.querySelectorAll('input[name="selected_products"]:checked');

            if (selectedProducts.length === 1) {
                // If only one product is selected, proceed with the update logic
                var productId = selectedProducts[0].value;
                window.location.href = "{% url 'edit_product' product_id=0 %}".replace('0', productId);
            } else {
                // If more or fewer than one product is selected, show the error message
                showMessage("Sorry, only one product can be updated at a time.");
            }
        });
    });
</script>