<script>
    document.addEventListener('DOMContentLoaded', function () {
        const starIcons = document.querySelectorAll('.star-rating .fa-star');

        starIcons.forEach(function (star, index) {
            star.addEventListener('click', function () {
                const selectedScore = index + 1; // Adding 1 to make it 1-based index

                starIcons.forEach(function (star, i) {
                    star.classList.toggle('checked', i < selectedScore);
                });
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const starLabels = document.querySelectorAll('.star-rating-form label');

        // Function to get the index of the checked radio button
        function getCheckedIndex() {
            let checkedIndex = 0;
            starLabels.forEach(function (label, index) {
                const radio = label.querySelector('input[type="radio"]');
                if (radio && radio.checked) {
                    checkedIndex = index;
                }
            });
            return checkedIndex;
        }

        // Highlight stars based on the checked radio button
        function highlightStars() {
            starLabels.forEach(function (starLabel, index) {
                const isChecked = index <= getCheckedIndex();
                starLabel.classList.toggle('fas', isChecked);
                starLabel.classList.toggle('far', !isChecked);
            });
        }
        // Update stars when a radio button is clicked
        starLabels.forEach(function (label, index) {
            label.addEventListener('click', function () {
                const
                    radio = label.querySelector('input[type="radio" ]');
                if (radio && radio.checked !== undefined) {
                    radio.checked = true;
                    highlightStars();
                }
            });
        });
        // Highlight stars based on the current selected rating score
        //if user edits multiple times, it should show most recent score
        highlightStars();
    });
</script>