<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        // Find the form associated with the clicked update link
        var form = $(this).prev('.update-form');
        // Submit the form
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        // Retrieve the CSRF token from the server-side template
        var csrfToken = "{{ csrf_token }}";
        // Extract the item ID from the clicked element's ID attribute
        var itemId = $(this).attr('id').split('remove_')[1];
        // Retrieve the product size associated with the item
        var size = $(this).data('product_size');
        // Construct the URL for removing the item
        var url = `/bag/remove/${itemId}/`;
        // Prepare data to send in the POST request
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        // Make a POST request to remove the item
        $.post(url, data)
            .done(function () {
                // Reload the page after successful removal
                location.reload();
            });
    })
    // Remove item and reload on click
    $('.remove-item-mob').click(function (e) {
        // Retrieve the CSRF token from the server-side template
        var csrfToken = "{{ csrf_token }}";
        // Extract the item ID from the clicked element's ID attribute
        var itemId = $(this).attr('id').split('remove_mob')[1];
        // Retrieve the product size associated with the item
        var size = $(this).data('product_size');
        // Construct the URL for removing the item
        var url = `/bag/remove/${itemId}/`;
        // Prepare data to send in the POST request
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        // Make a POST request to remove the item
        $.post(url, data)
            .done(function () {
                // Reload the page after successful removal
                location.reload();
            });
    })
</script>