<script>
    $(document).ready(function () {
        var descriptionContainer = $('#product-description-container');
        var showMoreBtn = $('#show-more-btn');

        var maxChars = 650;

        var originalContent = descriptionContainer.html();
        var lastPeriodIndex = originalContent.lastIndexOf('.', maxChars);

        if (lastPeriodIndex !== -1) {
            var trimmedContent = originalContent.substring(0, lastPeriodIndex + 1);
            descriptionContainer.html(trimmedContent + '...');
            showMoreBtn.show(); // Show the button initially
        } else {
            // If the description doesn't need truncation, hide the "Show More" button
            showMoreBtn.hide();
        }

        showMoreBtn.click(function () {
            if (descriptionContainer.hasClass('expanded')) {
                descriptionContainer.html(trimmedContent + '...');
                showMoreBtn.text('Show More');
            } else {
                descriptionContainer.html(originalContent);
                showMoreBtn.text('Show Less');
            }
            descriptionContainer.toggleClass('expanded');
        });
    });
</script>