{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            {% if request.GET.search %}
            <h2 class="text-center mt-3">Search results for: "{{ request.GET.search }}"</h2>
            {% else %}
            <h2 class="logo-font mt-3">Blog Posts</h2>
            {% endif %}
            <!-- Search form for blog posts -->
            <div class="my-auto py-1 py-lg-0 float-right">
                <form method="get" action="{% url 'blogs' %}" class="top-0 end-0 m-3">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border border-black rounded-0" name="search"
                            placeholder="Search our blogs">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="w-50 mb-1 mt-2">
        </div>
    </div>
    <div class="row justify-content-around">
        <!-- Checking if a post the user searched for was found - if not return "no posts found"-->
        {% if no_results %}
        <div class="col-12 col-lg-6 mx-auto text-center">
            <h3 class="my-3">No posts found &#128546;</h3>
            <img src="{% get_media_prefix %}default-images/no_orders.webp" class="img-fluid" alt="Sad dog, no posts">
        </div>
        {% else %}
        <div class="col-12">
            <div class="row">
                {% for post in posts %}
                <div class="col-sm-6 col-md-6 col-lg-4 p-3">
                    <div class="card h-100 border-0">
                        {% if post.image %}
                        <a href="{% url 'post_detail' post.slug %}">
                            <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </a>
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}">
                            <img class="card-img-top img-fluid"
                                src="{% get_media_prefix %}default-images/no_orders.webp" alt="{{ post.title }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <a href="{% url 'post_detail' post.slug %}" class="text-decoration-none text-black">
                                <h5>{{ post.title }}</h5>
                            </a>
                            <p class="mb-3 text-muted">
                                {{ post.excerpt|slice:":80" }}{% if post.excerpt|length > 80 %}...{% endif %}
                            </p>
                        </div>
                        <div class="card-text h6 text-muted p-3">
                            <span class="date-created">{{ post.created_on }}</span>
                            <span class="likes-comments-container float-right">
                                <i class="far fa-heart"></i> {{ post.number_of_likes }}
                                <i class="far fa-comments"></i> {{ post.comments.count }}
                            </span>
                            {% if request.user.is_superuser %}
                            <small>
                                <a href="{% url 'post_update' post.slug %}">Edit</a>
                                |
                                <a class="text-danger" href="{% url 'post_delete' post.slug %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- Pagination: as per the PostList view, the page will display only 6 posts per page-->
{% if is_paginated %}
<nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center mt-4">
    <ul class="pagination">
        <!-- If there is a previous page, it will display the previous button-->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link text-muted rounded-0"
                aria-label="Prev">&laquo;
                Previous</a>
        </li>
        {% endif %}
        <!-- If there are more than 6 posts, it will display the next button-->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link text-muted rounded-0"
                aria-label="Next">Next
                &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}