{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/67f275807d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.tiny.cloud/1/kgy89s7gmi8s918excnmnriyievzl3c2a6dm5e0d8okug1fd/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Fetch & Feast {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top nav-head shadow">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="text-decoration-none main-logo-link">
                    <h2 class="logo-font-custom text-black">Fetch <span class="logo-font-custom-2">& Feast</span></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our prooducts">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-search-heart" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018" />
                                        <path
                                            d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                {% if profile_image %}
                                <img src="{{ profile_image }}" alt="My Account" class="rounded-circle profile_img_base">
                                {% else %}
                                <img src="{% get_media_prefix %}default-images/default_profile.webp" alt="My Account"
                                    class="rounded-circle profile_img_base">
                                {% endif %}
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'manage_products' %}" class="dropdown-item">Product Management</a>
                            <a href="{% url 'manage_blogs' %}" class="dropdown-item">Blog Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}bag-color font-weight-bold{% else %}text-black{% endif %} bag-nav"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div>
                                    {% if grand_total %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                    </svg>
                                    {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-bag-heart" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                    </svg>
                                    {% endif %}
                                </div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block featured_products %}
    {% endblock %}

    {% block newsletter %}
    {% endblock %}

    {% block blogs %}
    {% endblock %}

    {% block faq %}
    {% endblock %}

    {% block contact %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


</body>

<footer class="col-10 mt-5 bg-white text-dark offset-1">
    <div class="row">
        <div class="col-md-2">
            <h5 class="font-weight-bold">Help</h5>
            <hr>
            <ul class="list-unstyled">
                <li><a href="{% url 'contact' %}" aria-label="Contact Us"
                        class="text-decoration-none text-muted">Contact
                        Us</a></li>
                <li><a href="{% url 'faq' %}" aria-label="FAQ" class="text-decoration-none text-muted">FAQ</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5 class="font-weight-bold">My Account</h5>
            <hr>
            {% if request.user.is_authenticated %}
            <ul class="list-unstyled">
                <li><a href="{% url 'profile' %}" aria-label="Profile"
                        class="text-decoration-none text-muted">Profile</a></li>
                <li><a href="{% url 'account_logout' %}" aria-label="Logout"
                        class="text-decoration-none text-muted">Logout</a></li>
            </ul>
            {% else %}
            <ul class="list-unstyled">
                <li><a href="{% url 'account_login' %}" aria-label="Login"
                        class="text-decoration-none text-muted">Login</a></li>
                <li><a href="{% url 'account_signup' %}" aria-label="Register"
                        class="text-decoration-none text-muted">Register</a></li>
            </ul>
            {% endif %}
        </div>
        <div class="col-md-2">
            <h5 class="font-weight-bold">Pages</h5>
            <hr>
            <ul class="list-unstyled">
                <li><a href="{% url 'home' %}" aria-label="Home" class="text-decoration-none text-muted">Home</a></li>
                <li><a href="{% url 'products' %}" aria-label="All Products" class="text-decoration-none text-muted">All
                        Products</a></li>
                <li><a href="{% url 'products' %}?category=chew-toys,balls,fetch-toys" aria-label="Toys"
                        class="text-decoration-none text-muted">Toys</a></li>
                <li><a href="{% url 'products' %}?category=dry-food,wet-food,treats" aria-label="Food"
                        class="text-decoration-none text-muted">Food</a></li>
                <li><a href="{% url 'products' %}?category=new-arrivals,deals,clearance" aria-label="Special Offers"
                        class="text-decoration-none text-muted">Special Offers</a></li>
                <li><a href="{% url 'blogs' %}" aria-label="Blog" class="text-decoration-none text-muted">Blog</a></li>
            </ul>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-2 footer-contact">
            <span class="d-flex my-2">
                <a href="tel: 1-800-DOG-DOG" class="text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-telephone-fill mx-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                    1-800-DOG-DOG</a>
            </span>
            <span class="d-flex my-2">
                <a class="text-decoration-none" href=mailto:“support@fetchandfeast.com”>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-envelope-fill mx-2" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                    </svg>
                    Email us here!
                </a>
            </span>
            <span class="d-flex my-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                </svg>
                <p class="mx-2">6196 North St, Dublin, Ireland</p>
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <p class="text-muted">&copy; 2024 | Fetch & Feast | All Rights Reserved. | Lee Curtis</p>
        </div>
    </div>
</footer>


</html>