{% extends "base.html" %}

{% block extra_title %}
- Contact Us
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block faq %}
<div class="container-fluid col-lg-4 col-8">
    <h1 class="mt-5 mb-4">Contact Us</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label w-100">Subject:</label>
            <select class="form-select w-100 py-2" id="subject" name="subject" required>
                <option value="">Select a subject</option>
                <option value="Complaint">Complaint</option>
                <option value="Feedback">Feedback</option>
                <option value="Return">Return</option>
                <option value="Shipping">Shipping</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn-black rounded-0 text-uppercase text-decoration-none p-2">Submit</button>
    </form>
</div>
{% endblock %}