{% extends "base.html" %}

{% block extra_title %}
- Delete Product
{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Delete Product</h2>
                <h5 class="text-muted">Are you sure you want to delete "{{ product.name }}"?</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text-right">
                    <form method="post" action="{% url 'delete_product' product.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger rounded-0" type="submit">Yes, delete</button>
                        <a class="btn btn-black rounded-0" href="{% url 'products' %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}