{% load static %}

<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <p class="logo-font bg-white text-black text-center lead">Your Bag ({{ product_count }})</p>
        <hr>
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.product.image %}
                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="w-100" src="{% get_media_prefix %}default-images/no_orders.webp"
                        alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small">
                        {% if item.product.has_sizes %}Size: {{ item.size|upper }}{% endif %}</p>
                    <div class="d-flex justify-content-between">
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        <p class="my-0 small text-muted float-right">€{{ item.product.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <a href="{% url 'empty_bag' %}" class="text-danger small mt-2">
                        Empty Bag
                    </a>
                </div>
                <div>
                    <p class="mt-1 mb-1 text-black strong">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">€{{ total|floatformat:2 }}</span>
                    </p>
                </div>
                <a href="{% url 'view_bag' %}" class="btn btn-outline-black btn-block rounded-0 mt-2">
                    <span class="text-uppercase">View Bag</span>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                            <path
                                d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                        </svg>
                    </span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-black btn-block rounded-0 mb-2">
                    <span class="text-uppercase">Checkout Now</span>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z" />
                        </svg>
                    </span>
                </a>
                {% if free_delivery_delta > 0 %}
                <p class="mb-0 p-2 del-bg shadow text-center">
                    Spend <strong>€{{ free_delivery_delta }}</strong> more to get free next day
                    delivery!
                </p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>